.header-game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.game-area {
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  gap: 12px;
  justify-content: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.card {
  width: 100px;
  height: 100px;
  perspective: 900px;
}

.card .inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.flipped .inner {
  transform: rotateY(180deg);
}

/* faces */
.front, .back {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

/* front est la face visible après rotation (donc tournée de 180) */
.front {
  transform: rotateY(180deg);
}

/* images */
.front img, .back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* styles supplémentaires */

#timer {
  font-size: 35px;
  margin-bottom: 15px;
  text-align: center;
}

.quitter_button {
  width: 200px;
  height: 100px;
  vertical-align: middle;
}
.quitter_button:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}
